[Unit]
Description=Telegram bot 'Freelancer Bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot/freelancerkz_bot
ExecStart=/usr/bin/python3 /usr/local/bin/bot/freelancerkz_bot/app.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target